* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}
body {
  font-family: "Fredoka", sans-serif;
}
/* HEADER */
.title {
  font-size: 60px;
  margin-top: 70px;
  color: rgba(229, 49, 112);
}
/* CARD */
